---
layout: page
title: VSignIt
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A SECURE METHOD FOR <br> SIGNATURE AUTHENTICATION</h1>
          <p class="animated fadeInUp">We believe that authenticity of signature in documents are utmost importance, to provide legitimately, verification and reassurance.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
	<a name="about"/>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
          	<p>The internet has become something indispensable in our lives; it is in fact the fastest growing communication medium. With the gargantuan of data we currently have in the internet, security has been put in the limelight. In order to provide secrecy in the information that we transmit, we would have to employ steganographic techniques. We do know that the existing physical signatures we use are susceptible to forgery. Hence, we propose a secure scheme to sign documents with an added layer of authentication and cryptographic security. We would make use of visual cryptography in order to achieve this. Visual cryptography is a special cryptographic technique where decryption can only be done via the human eye.</p>
					</div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
					<br>
					<br>
          <img src="img/wrapper-img.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
	<a name="goal"/>
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 style="color:#D6EAF8">WE BELIEVE IN OUR GOAL</h2>
      <p style="color:#EAF2F8">With this project, our aim is to provide an authentication mechanism which allows users to sign documents in both a secure and seamless manner. Physical signatures introduce limitations when introduced to the digital world. Their origin is difficult to verify, i.e we do not know if the actual person has signed the document.</p>
      <p style="color:#EAF2F8">The reason why this scheme is superior to digital signature (Public Key Signature) is because there is a need to have a trusted third party in the scheme. The trusted third party may abuse the right bestowed to them by the users. In this scheme, the original document is held by the user and the shares are disseminated to the shareholders.</p>
      <p style="color:#EAF2F8">Currently in a bank, when an authorised signatory is created, they must first physically verify their signature with either a bank staff, lawyer or public notary. The bank keeps this signature for future verification purposes. When a client wants to sign a document for the bank, they will sign the original document, scan it and email it to the bank.</p>
      <p style="color:#EAF2F8">The banker will now have to physically verify the documents signature with the stored signature from the database; this is when visual cryptography kicks in. When a client wishes to sign a check, they must provide the bank with a physically signed “wet-ink” check. The banks do not allow digital checks.</p>	  
      <p style="color:#EAF2F8">With our visual cryptographic signature scheme, we aim improve the life of the clients by allowing them to use digitally signed documents and checks. The banks have a streamlined authentication process and have the added assurance that the signatures are legitimate.</p>
      <a href="{{ "/documentation" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" class="btn btn-view-works">View Documentation</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>We take our customers' satisfaction very seriously. Therefore, we constantly strive to improve our product in order to provide the best product available.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compose"></i>
          <h4>Legitimate and Authentic Signatures</h4>
          <p>You no longer have to worry about the authencity of the Signatures in the document!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-key"></i>
          <h4>Distribution of Signature-Shares</h4>
          <p>The Encrypted Signature-Shares are each spreaded to the Bank and the customer(s) respectively. This reduces the chance of forgery; enhancing the legitimately of the Signature upon recombination.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-paintbrush"></i>
          <h4>App Design</h4>
          <p>Our simple and user-friendly application allows you to use our applicaton without any issue.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>Development</h4>
          <p>We are constantly evolving our product day in day out to suit our customers' need.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Project Timeline -->
<section id="feature2">
  <div class="container">
    <a name="project"/>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 style="color:#5C5C5C">Project Timeline</h2>
        <p style="color:#000"><b>Week 1 - 2</b></p>
        <ul>
          <li>
            <p style="color:#000">The reason why this scheme is superior to digital signature (Public Key Signature) is because there is a need to have a trusted third party in the scheme. The trusted third party may abuse the right bestowed to them by the users. In this scheme, the original document is held by the user and the shares are disseminated to the shareholders.</p>
          </li>
        </ul>

        <p style="color:#000"><b>Week 3 - 4</b></p>
        <ul>
          <li>
            <p style="color:#000">The reason why this scheme is superior to digital signature (Public Key Signature) is because there is a need to have a trusted third party in the scheme. The trusted third party may abuse the right bestowed to them by the users. In this scheme, the original document is held by the user and the shares are disseminated to the shareholders.</p>
          </li>
        </ul>

        <a href="{{ "/documentation" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" class="btn btn-view-works">View Documentation</a>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We give assurance in this uncertain world</h2>
          <p>Read more about what we do and our philosophy of coding. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to code.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ "/features" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}" >Look at Our Features</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial" style="padding-bottom: 0px">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>We are actually a bunch of Final Year Computer Science students who have passion in programming and security. We would like to use this opportunity to apply what we have learnt in class and build a real-world application.</p>
      </div>
    </div>
    <div class="row">
			<!--
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
			-->
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- contact form start -->
<a name="contact"/></a>
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="section-title text-center" style="margin-bottom: 0px">
          <h2>Contact Us</h2>
        </div>
      </div>
      
    <!-- www.123formbuilder.com script begins here -->
    <iframe allowTransparency="true" style="min-height:920px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="//www.123formbuilder.com/my-contact-form-4805063.html">
      <p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
    </iframe><!-- www.123formbuilder.com script ends here -->

    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Stop By For A visit</h2>
          <ul class="address-block" style="list-style-type: none;">
            <li>
              <i class="fa fa-map-marker"></i>461 Clementi Road, Singapore 599491
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>Email: <a href="mailto:admin@vsignit.me?Subject=Queries" target="_top">admin@vsignit.me</a>
            </li>
            <li>
              <i class="fa fa-phone"></i>Phone:+65 9081 6236
            </li>
          </ul>

          <ul class="social-icons" style="list-style-type: none;">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100001545176591"><i class="fa fa-google"></i></a>
            </li>
            <li>
              <a href="http://linkedin.com/company/vsignit"><i class="fa fa-linkedin"></i></a>
            </li>
            <!-- <li>
              <a href="http://www.themefisher.com"><i class="fa fa-pinterest"></i></a>
            </li> -->
            <!-- <li>
              <a href="http://www.themefisher.com"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-behance"></i></a>
            </li> -->
            <li>
              <a href="https://www.facebook.com/profile.php?id=100001545176591"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100001545176591"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>We Also Count In Google Map</h2>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7977.486085445692!2d103.779537308863!3d1.3302434458911847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a0a9644149d%3A0x48d3deaf496bb7b1!2sSIM+Global+Education!5e0!3m2!1sen!2ssg!4v1557477772223!5m2!1sen!2ssg" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>