<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ "/#about" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}">About Us</a></li>
            <li><a href="https://www.vsignit.me">Demo</a></li>
            <li><a href="{{ "/#contact" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}">Contact us</a></li>
            <li><a href="{{ "/documentation" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}">How it works</a></li>
            <li><a href="{{ "/blog" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}">Blog</a></li>
            <li><a href="{{ "/team" | prepend: site.baseurl | prepend : site.title | prepend: "/" | prepend: site.url }}">Team</a></li>
          </ul>
        </div>
        <p>Copyright &copy; VSignIt 2019</p>
      </div>
    </div>
  </div>
</footer>
